@model IEnumerable<Prédio_Comercial.Models.AcessosGetDTO>;


<style>
    .content{
        margin-left:0px;
        padding:20px;
    }
</style>
<div class="content container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <div class="table-responsive table-responsive-lg">
                <h2>Acessos</h2>
                <a asp-controller="Acessos" asp-action="Criar" class="btn btn-primary">AdicionarAcesso</a>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model=>model.SalaComercial)</th>
                            <th>@Html.DisplayNameFor(model=>model.EntrouComOQue)</th>
                            <th>Quem realizou o acesso</th>
                            <th>Nome do Visitante</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => x.SalaComercial)</td>
                                <td>@Html.DisplayFor(model => x.EntrouComOQue)</td>
                                <td>@Html.DisplayFor(model => (x.NomeUsuario))</td>
                                <td>@Html.DisplayFor(model => (x.NomeVisitante))</td>
                                <td><button data-id="@x.id" class="btn btn-primary _btnDetails">Detalhes</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
@section Box1{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                    <h2>Lista de Atendentes</h2>
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model=>model.NomeUsuario)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var y in Model)
                            {
                                <tr>
                                    <td>@y.id</td>
                                    <td><a>@Html.DisplayFor(model=>y.NomeUsuario)</a></td>
                                    <td><a type="submit" asp-controller="Usuarios" asp-action="Detalhes" asp-route-id="@y.id" class="btn btn-primary">Detalhes</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    }
    @section Box2{
        <div class="container-fluid">
            <div class="row">
                <div class="col col-sm-12 com-md-12">
                    <div>
                        <table class="table-responsive table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>
                                        Nome
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var z in Model)
                                {
                                    <tr>
                                        <td>@z.NomeVisitante</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
<div class="col-md-3">

    <div class="modal fade" id="modalEdicao" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes</h1>
                <div class="modal-body" id="conteudoModalEdicao">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {
            $('._btnDetails').click(function () {
                const id = $(this).data('id');
                $.ajax({
                    type:"GET",
                    url:"/Acessos/Details/"+id,
                    success: function (html) {
                        $('#conteudoModalEdicao').html(html);
                        $('#modalEdicao').modal('show');
                    },
                    error: function () {
                        alert("Erro ao carregar dados");
                    }
                });
            });

        });

    </script>

