
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prédio_Comercial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <style>
        body{
            background-color:#121212;
            color:white;
        }
        .sidebar{
            background-color:#000;
            position:fixed;
            top: 0;
            left: 0;
            min-height: 100vh;
            width:0px;
        }
        .content{
            margin-left: 0px;
            padding: 20px;
        }
        .box{
            background-color: #1e1e1e;
            border-radius: 10px;
            padding: 20px;
            margin-bottom:20px;
        }
        .small-box{
            background-color:#1e1e1e;
            border-radius:10px;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
    <header>
        @* <div class="container-fluid g-3">
           
            
        </div> *@
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @await Component.InvokeAsync("MenuComponent")
            </div>
                <div class=" col-12 col-md-6 box">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <div class="col-12 col-md-4">
                    <div class="small-box">
                        @RenderSection("Box1", required:false)
                    </div>
                    <div class="small-box">
                        @RenderSection("Box2", required:false)
                    </div>
                    <div class="small-box">
                        @RenderSection("Box3", required:false)
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <footer class="border-top footer text-muted">
                <div style="text-align:center">
                    <p>&copy; 2025 - Prédio_Comercial - </p>
                    <a style="text-align:center" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>
    
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" src="/js/site.js" asp-append-version="true" />

</body>
</html>
